
@media screen and (min-width: 1000px) {

    footer h1{

        display: flex;
        flex-direction: row;
        justify-content: center;
        font-size: 20px;   
    }

    footer ul {

        display: flex;
        justify-content: center;
        gap: 20px;
        list-style-type: none;
    }

    ul li a img {


        border-radius: 400px;
        width: 50px;
        height: 50px;
        opacity: 0.5;
        transition: all 0.8s;
    }

    ul li a img:hover {

        opacity: 1;
        transition: all 1s;
    }
}


@media screen and (max-width: 1000px) {

    footer h1{

        display: flex;
        flex-direction: row;
        justify-content: center;
        font-size: 20px;   
    }

    footer ul {

        display: flex;
        justify-content: center;
        gap: 20px;
        list-style-type: none;
    }

    ul li a img {


        border-radius: 400px;
        width: 50px;
        height: 50px;
        opacity: 0.5;
        transition: all 0.8s;
    }

    ul li a img:hover {

        opacity: 1;
        transition: all 0.7s;
    }

}

